body {background-color: pink; 
}

h1 {font-size:70px;
	color:blue;
	font-family: impact;
	padding-top: 50;
	text-align: center; 

}

h2 {font-size: 54px;
	color:purple;
	font-family: impact;
}

h3 {font-size: 30px;
	color: teal;
	font-family: impact;
}

ul {border-width: 10px;
	border-color: teal;
	font-size: 30px;
	color: teal;
	font-family: impact;
}